.cv-button{
	background-color:#3F4035;
	color:#ffffff;
	&:hover{
		background-color:#7d7f6a;
		transition: background-color 0.2s ease-in;
		color:#ffffff;
	}
}
.me-pic{
	float:left;
	margin-right: 10px;
}