.projects{
	ul{
		padding-left: 0px;
		width:800px;
	}
	li{
		list-style: none;
	}
	img{
		cursor:pointer;
		width:1005px;
		height:275px;
	}
	/* Link text is showing up for some reason */
	a{
		line-height: 0; 
	    font-size: 0;
	    color: transparent; 
	}
	.Chordinate{
		transition: background-image .5s ease-in-out;
		background-image:url("../images/chordinate.jpg");
 		&:hover{
 			background-image:url("../images/chordinate-colored.jpg");
 		}

	}
}


