

.projects{
	div{
		// float:left;
	}
	ul{
		padding-left: 0px;
		width:1080px;
	}
	li{
		margin-bottom: 30px;
		list-style: none;
		float:left;
	}

	img{
		transition: -webkit-filter .2s ease-in-out;
		-webkit-filter:grayscale(100%);
 		&:hover{
 			-webkit-filter:grayscale(0%);
 		}
	}
}

/* Link text is showing up for some reason */
.projects-link{
	line-height: 0; 
    font-size: 0;
    color: transparent; 
}


.project-description{
	height: 165px;
	max-width: 42%;
	/* position: absolute; */
	margin-left: 10px;

}

