

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//Variables
@import "_variables.scss";

//Animations
@import "_animations.scss";

//partials CSS
@import "views/projects.scss";
@import "views/about.scss";
@import "views/footer.scss";
@import "views/contact.scss";


//HEADER
.header{
  a{
    color: $secondary;
  }
  padding-top:45px;
  background: $primary;
  height: 100px;
  font-size: 1.5rem;
}
//BRAND
.brand{
  @media screen and (max-width: $break-large) {
    display:none;
  }
  line-height: 1.7em;
  cursor:pointer;
  text-decoration: none;
  float:left;
  font-size: 2.5rem;

  &:hover{
    color: $white;
    transition: color 0.5s ease-in;
    text-decoration: none;
  }

}

//Navigation
.nav{
  @media screen and (max-width: $break-large) {
    float:left;
  }
  float:right;
  font-size: 2rem;
  li {
    padding: 0px 10px;
    cursor:pointer;
  }
  li a {
    display: block;
    &:hover {
        color: $white;
        transition: color 0.2s ease-in;
        background-color: inherit;
    } 
  }
}


//MAIN  CONTENT
.maincontent{
  margin-top:20px;
  margin-bottom:100px;
  height:100%;
}


//UNDER CONSTRUCTION
.under-construction {
  margin: 0 auto;
  width:380px;
  text-align: center;
}




