<div class="about-container">
	<div class='about-me'>
		<img src="./images/me.svg" class="me-pic" alt="Me">

		<p>
			Steadily working my way towards becoming a full blown front-end developper with a splash of UX sensibilities.  I'm 100% addicted to everything to do with web technology.  So much so that narrowing down my field of vision is proving to be the most difficult challenge.
		</p>
		<p>
			I'm currently working in Yahoo as an Advertisement Technology Specialist, but any chance I get I try find ways to use my burgeoning front-end skills to make my colleagues' work lives more fluid, efficient and pretty.
		</p>
		<p>
			With a background in psychology and a healthy respect for the web, I am particurly attuned to how to make experiences on the web as intuitive as possible.  Users should focus on the task at hand, not the tools they are using to complete the task.  
		</p>
		<p>
			Aside from my love of the web, I am also heavily engrossed by all things guitar and rock-climbing. 
		</p>
	</div>
	<div class="chart" id="chart">
	</div>
</div>
