<div class="projects col-md-4">
	<ul class="list-unstyled">
	    <li ng-repeat="project in projects">
	    	<p class="btn btn-default" ng-click="open(project); select($index)" ng-class=
      "{selected: $index == selected}">
          {{project.name}}
        </p>
	    </li>
	</ul>
</div>


<div class="project-description col-md-8">
    <ng-switch on="anyItemOpen()">
         <div ng-switch-when="true">
               <h2>{{opened.name}}</h2>
               <h5>{{opened.techDescription}}</h5>

               <p>{{opened.description}}</p>
               <img src="{{opened.image}}"></img>

                <p ng-show="linkDefined(opened.link)">
                    <a href="{{opened.link}}" target="_blank">View Project</a>    
                </p>

                <p ng-show="linkDefined(opened.github)">
                    <a href="{{opened.github}}" target="_blank">Fork On Github</a>    
                </p>
                
         </div>  
    </ng-switch>   
</div>